.env
project/.env.development
.idea/
project/exercice-control/
project/sleep-control/
project/access-control/target/
project/access-control/t5-small-onnx/
target/
project/access-control/lib/
project/access-control/src/main/java/com/serinity/accesscontrol/config
project/access-control/src/main/java/com/serinity/accesscontrol/migration
*.log
*.class
*.iml
*.jar
*.war
*.ear
node_modules/
.DS_Store

