@import "styles.css";
@import "footer.css";

.signinPane {
  -fx-background-color: -color-secondary;
}

.loginIconImageView {
  transition: -fx-translate-x 0.2s linear;
}

#signInButton:hover {
  -fx-text-fill: rgba(0, 0, 0, 0);
}

#signUpButton:hover {
  -fx-text-fill: rgba(0, 0, 0, 0);
}

#signInButton:hover .loginIconImageView {
  -fx-translate-x: 60;
}

#signUpButton:hover .loginIconImageView {
  -fx-translate-x: 60;
}

#loginImageView {
  -fx-effect: dropshadow(gaussian, black, 10, 0.5, 0, 0);
  -fx-background-radius: 10;
}

#signupHyperlink:pressed {
  -fx-text-fill: red;
}

.heroLabel {
  -fx-font-size: 48px;
  -fx-font-weight: bold;
  -fx-alignment: TOP_LEFT;
}

.detailsLabel {
  -fx-font-size: 16px;
  -fx-text-fill: #555555;
  -fx-font-weight: normal;
  -fx-alignment: CENTER_LEFT;
}

.normalLabel {
  -fx-font-size: 13px;
  -fx-text-fill: #555555;
  -fx-font-weight: normal;
}
