@import "styles.css";
@import "footer.css";

.resetPasswordPane {
  -fx-background-color: -color-secondary;
  -fx-background-radius: 12;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 20, 0.3, 0, 4);
}

.sendButton {
  -fx-background-color: transparent;
}

.sendButton #sendMailButtonImageView {
  -fx-image: url("../assets/reset-password/icons8-send-mail-16.png");
}

.sendButton:hover #sendMailButtonImageView {
  -fx-image: url("../assets/reset-password/icons8-send-mail-16-white.png");
}

.sendButton #goBackImageView {
  -fx-image: url("../assets/reset-password/icons8-go-back-48.png");
}

.sendButton:hover #goBackImageView {
  -fx-image: url("../assets/reset-password/icons8-go-back-48-white.png");
}
