html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fade 25s infinite;
}

.s1 {
  background-image: url('../assets/login/slideshow/img1.png');
  animation-delay: 0s;
}

.s2 {
  background-image: url('../assets/login/slideshow/img2.png');
  animation-delay: 5s;
}

.s3 {
  background-image: url('../assets/login/slideshow/img3.png');
  animation-delay: 10s;
}

.s4 {
  background-image: url('../assets/login/slideshow/img4.png');
  animation-delay: 15s;
}

.s5 {
  background-image: url('../assets/login/slideshow/img5.png');
  animation-delay: 20s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  4% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  24% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
